* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
  
body {
  font-family: 'Segoe UI';
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.inform-topo h1{ 
  color: white;
  font-size: 25px;
  font-weight: unset;
  text-align: center;
  padding: 18px;
}

.wave1{
  width: 100%;
  height: 50px;
  background-color: white;
}
 
.corpo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.esquerda{
  width: 600px;
  height: 70px;
  margin: 75px;
}

.descr-sit p{
  margin-top: -90px;
  width: 180%;
  font-size: 20px;
  font-weight: initial;
  color: white;
}

.centro{
  width: 370px;
  height: 220px;
  margin: 140px;
}

.img-center img{
  width: 360px;
  margin: -10px;
  float: right;
}

.direita{  
  height: 340px;
  width: 400px;
} 

.esquerda-button{
  width: 200px;
  height: 50px;
  float: right;
  margin: 25px;
}

.login a{
  width: 40%;
  float: left;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
  background-color: #40e0d0;
  border-radius: 20px;
  border: 1px inherit #000000;
  text-decoration: none; 
  text-align: center;
  font-weight: normal;
  margin: 8px 0;
}

.cadastrar a{
  width: 43%;
  float: right;
  padding: 5px 5px;
  margin: 8px 0;
  color: black;
  cursor: pointer;
  background-color: #40e0d0;
  border-radius: 20px;
  border: 10px inherit #000000;
  text-decoration: none; 
  text-align: center;
  font-weight: normal;
}

.login a:hover, .cadastrar a:hover{
  background-color: #ddf3f1;
  font-weight: lighter;
}

.footer {
  position: absolute;  
  bottom: 0;  
  width: 100%;  
  height: 50px;  
  background-color: white;
}