* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Segoe UI';
}

.desc-text h1{ 
    color: white;
    position: absolute; 
    text-align: center;
    width: 100%; 
    height: 70px;
    padding: 15px;
    margin-bottom: 100px;
    font-weight: lighter;
    background-color: black;
}
.sub-container{
    margin-top: 80px;
}

h4{
    margin-top: 10px;
}

.caixa{
    width: 600px;
    margin-bottom: 10px;
    background-color: rgb(192, 221, 240);
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.button-enviar{
    padding-top: 10px;
    background-color: #bdf5ef;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px inherit #000000;
    cursor: pointer;
    width: 30%;
    border-radius: 30px;
    font-weight: normal;
  }
    
  .button-enviar:hover {
    background-color: #ffffff;
    font-weight: bolder;
  }