* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
  
header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 70px;
    font-family: sans-serif;
  }
  
  .left_area h3{
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 1000;
  }
  
  .left_area span{
    color: #19B3D3;
    padding-left: 50px;
    font-size: 25px;
  }
  
  .logout_btn{
    padding: 5px;
    background: #40e0d0;
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 900px;
    color: black;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: red;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #40e0d0;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 0%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .sidebar a{
    color: black;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 5px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 10px;
    font-size: 20px;
    margin: 1px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: red;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 18px;
    margin-left: 190px;
    width: 20%;
    padding: 10px;
    transition: 0.7s;
  }

  h1{
    text-align: center;
    padding: 20px;
  }

  .content{
    width: (100% - 100px);
    margin-top: 60px;
    padding: 10px;
    margin-left: 200px;
    background-position: center;
    background-size: cover;
    height: 60vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }


.sub-container{
  padding: 20px;
  width: 400px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(92, 250, 242, 0.507);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651); */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.caixa{
    /* width: 400px;
    margin-bottom: 10px;
    background-color: rgb(192, 221, 240);
    border: 1px solid rgb(173, 173, 173); */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
    padding: 2px 16px;
    /* padding: 15px; */
    /* border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651); */
}

.button-enviar{
    padding-top: 10px;
    background-color: #55f8e8;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px inherit #000000;
    cursor: pointer;
    width: 20%;
    border-radius: 30px;
    font-weight: normal;
  }
    
  .button-enviar:hover {
    background-color: #ffffff;
    font-weight: bolder;
  }