* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}
  
body {
  font-family: 'Segoe UI';
  overflow: hidden;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.desc h1{ 
  color: white;
  position: absolute; 
  text-align: center;
  width: 100%; 
  height: 50px;
  padding: 1px;
  font-weight: lighter;
  background-color: black;
 }
 
.img-center img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 5%;
}

.inf h2{
  font-size: 15px;
  text-align: center;
  color: black;
}

.form-signin {
  text-align: center;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

form{
  align-items: center;
  position: static;
  width: 100%;
  height: 100%;
  margin: auto;
}

.form-signin{
  color: red;
  font-weight: inherit;
}

input[type=text], input[type=password]  {
  width: 30%;
  height: 30px;
  padding: 10px 10px;
  margin: 14px 0;
  margin-left: 35%;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

.redf a{
  margin-left: 59%;
  cursor: pointer;
  border-radius: 30px;
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.redf a:hover{
  padding: 5px;
  color: white;
  background-color: black;
  opacity: 5px;
}

.button input{
  background-color: #40e0d0;
  padding: 10px 10px;
  margin: 5px 0;
  margin-left: 45%;
  border: 1px inherit #000000;
  cursor: pointer;
  width: 10%;
  border-radius: 30px;
  font-weight: normal;
}

.button input:hover {
  background-color: #ffffff;
  font-weight: bolder;
}

.footer {
  position: absolute;  
  bottom: 0;  
  width: 100%;  
  height: 45px;  
  background-color: black;
}