*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Segoe UI';
  font-weight: 300;
  line-height: 1.42em;
  background-color: white;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 70px;
}

.left_area span{
  color: #19B3D3;
  padding-left: 45px;
  font-size: 25px;
  text-transform: uppercase;
}

.logout_btn{
  padding: 5px;
  background: #40e0d0;
  text-decoration: none;
  float: right;
  margin-top: -24px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 900;
  color: black;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: red;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #40e0d0;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: black;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 5px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 20px;
  font-size: 20px;
  margin: 3px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: red;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 18px;
  margin-left: 190px;
  width: 20%;
  padding: 10px;
  transition: 0.7s;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 10px;
  margin-left: 200px;
  background-position: center;
  background-size: cover;
  height: 90vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.8;
}

.textt h2{
  color:rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  font-weight: inherit;
}

.subtext h3{
  color:rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bolder;
}

.container th h1 {
  font-size: 1em;
  text-align: left;
  color: white;
}

.container td {
  color: white;
  font-weight: inherit;
  font-size: 5em;
  -webkit-box-shadow: 0 2px 2px -2px rgb(255, 255, 255);
  -moz-box-shadow: 0 2px 2px -2px rgb(0, 0, 0); 
  box-shadow: 0 2px 2px -2px rgb(0, 0, 0);
}

.container {
    text-align: center;
    overflow: hidden;
    width: 90%;
    height: 5%;
    margin: 0 auto;
    display: table;
    padding: 5%;
}

.container td, .container th {
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left:2%;
  color: white;
}

.container tr:nth-child(odd){
  background-color: #22242A;
}

.container tr:nth-child(even) {
    background-color: #353333;
}

.container tr {
    background-color: rgb(#000000);
    cursor: no-drop;
}

.container td{
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: no-drop;
    text-transform: uppercase;
    padding: 20px;
}

.container td:first-child {
    color: white; 
    font-size: 20px;
    text-align: center;
    font-weight: inherit;
    text-transform: uppercase;
    cursor: no-drop;
}

.container tr:hover {
    background-color: rgb(#131212);
    -webkit-box-shadow: 0 6px 6px -6px #080808;
    -moz-box-shadow: 0 6px 6px -6px #212529;
    box-shadow: 0 6px 6px -6px #212529;
}

.container td:hover {
    background-color: #000000;
    font-weight: bold;
    box-shadow: #ebeae7 -1px 1px, #dbdbda -2px 2px, #f8f8f3 -3px 3px, #3b3b3a -4px 4px, #d3d3d3 -5px 5px, #bdbcad -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}
