body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 25px;
}

.left_area h3{
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 1000;
  padding-left: 45px;
  margin-top: -4px;
}

.left_area span{
  color: #19B3D3;
  padding-left: 15px;
}

.logout_btn{
  padding: 5px;
  background: #40e0d0;
  text-decoration: none;
  float: right;
  margin-top: -29px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 900;
  color: black;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: white;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #40e0d0;
  margin-top: 65px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 40px;
}

.sidebar .profile_info h4{
  color: black;
  margin-bottom: 20px;
}

.sidebar a{
  margin-top: 5px;
  color: black;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 15px;
  font-size: 20px;
  margin: 1px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: white;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.8;
}
                   