* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}
    
body {
    font-family: 'Segoe UI';
    overflow: hidden;
}
  
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}
  
.desc-text h1{ 
  color: white;
  position: absolute; 
  text-align: center;
  width: 100%; 
  height: 50px;
  font-weight: lighter;
  background-color: black;
}
   
.img-center-cad img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%; 
  padding: 45px;   
}
  
.card-center{
  align-items: center;
  position: static;
  width: 100%;
  height: 100%;
  background-color:white;
}

.titulo h2{
  font-size: 15px;
  text-align: center;
  color: black;
  padding: 3px;
}
  
form{
  margin: 0 0 15px;
}
  
input[type=text], input[type=password]  {
  width: 30%;
  height: 30px;
  padding: 10px 10px;
  margin: 15px 0;
  margin-left: 35%;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
  
input[type=tel]{
  width: 30%;
  height: 30px;
  padding: 10px 10px;
  margin: 15px 0;
  margin-left: 35%;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

.button-avan-prof input{
  background-color: #40e0d0;
  padding: 10px 10px;
  margin: 8px 0;
  margin-left: 45%;
  border: 1px inherit #000000;
  cursor: pointer;
  width: 10%;
  border-radius: 30px;
  font-weight: normal;
}
  
.button-avan-prof input:hover {
  background-color: #ffffff;
  font-weight: bolder;
}